@import "core";

@mixin hidden() {
  display: none;
  visibility: hidden;
}

.hdn.hdb-m.hfl-m {
  @include hidden;
}

.hfr-s.lt2s.lmt-10 {
  @include hidden;
}

.am-default_moreslots  {
  @include hidden;
}

.ipa,
.hw {
  cursor: pointer;
}
