@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~antd/lib/button/style/index.css";
@import "~webtour/dist/webtour.min.css";

.ipa,
.hw {
  cursor: pointer;
}

iframe {
  display: none;
  visibility: hidden;
}

#rightcol-ar2 {
  display: none !important;
  visibility: hidden !important;
}
